<!DOCTYPE html>
<!-- 타임리프 th 속성을 사용하기 위해 네임스페이스 선언 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
	<!-- 속성에 이름을 지정하여 타이틀을 동적 처리 -->
	<th:block layout:fragment="title">
		<title>Franchise</title>
	</th:block>
	
	<th:block layout:fragment="modal">
		<div id="commentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="modalWriter" class="col-form-control" >작성자</label>
								<input type="text" id="modalWriter" class="form-control" placeholder="작성자를 입력해 주세요." />
							</div>
							<div class="form-group">
								<label for="modalContent" class="col-form-control" >내용</label>
								<textarea id="modalContent" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" id="btnModalCancel" class="btn btn-default waves-effect waves-light" data-dismiss="modal">취소하기</button>
						<button type="button" id="btnCommentUpdate" class="btn btn-primary waves-effect waves-light" onclick="updateComment()">수정하기</button>
						<button type="button" id="btnCommentDelete" class="btn btn-danger waves-effect waves-light" >삭제하기</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="content">
		<div class="card-content">
		<!-- th:object 속성으로 *{} 표현식으로 제목, 이름 등을 텍스트 형식으로 출력 -->
			<form class="form-horizontal form-view" th:object="${board}">
				<div class="form-group">
					<label for="inp-type-1" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{title}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-2" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{writer}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{content}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{#temporals.format( insertTime, 'yyyy-MM-dd' )}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">조회 수</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{viewCnt}"></p>
					</div>
				</div>
			</form>
			
			<!-- 이전 페이지 정보 유지하기 -->
			<!-- th:object 속성을 통해 *{ } 표현식으로 메서드명과 변수명 만으로 컨트롤러에서 전달받은 객체에 접근 가능 -->
			<div class="btn_wrap text-center" th:object="${params}">
				<a th:href="|@{/board/list.do}*{makeQueryString(currentPageNo)}&gubun=*{gubun}|" class="btn btn-default waves-effect waves-light">뒤로가기</a>
				<a th:href="|@{/board/write.do}*{makeQueryString(currentPageNo)}&idx=${board.idx}|" class="btn btn-primary waves-effect waves-light">수정하기</a>
				<button type="button" class="btn btn-danger waves-effect waves-light" th:onclick="deleteBoard([[ ${board.idx} ]], [[ *{makeQueryString(currentPageNo)} ]])">삭제하기</button>
			</div>
		</div>
	</th:block>
	
	<!-- 특정 게시글의 댓글이 출력되는 영역 -->
	<!-- 현재는 순수 HTML로 처리 -->
	<th:block layout:fragment="add-content">
		<div class="box-content">
			<div class="clearfix">
				<h4 class="box-title pull-left">Comment</h4>
			</div>
			
			<form class="form-horizontal form-view">
				<div class="input-group margin-bottom-20">
					<div class="col-sm-2">
						<input type="text" class="form-control" id="writer" placeholder="닉네임 입력"/>
					</div>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="content" placeholder="댓글 입력"/>
					</div>
					<div class="input-group-btn">
						<button type="button" class="btn waves-effect waves-light" th:onclick="insertComment([[ ${board.idx} ]])">
							<i class="fa fa-commenting" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<ul class="notice-list"></ul>
			</form>
		</div>
	</th:block>
	
	<th:block layout:fragment="script">
      <!-- <script> 태그에 th:inline 속성을 javascript 로 선언해야 자바스크립트를 사용할 수 있음 -->
      <!-- 타임리프는 '<', '>' 태그를 엄격하게 검사하기 때문에 자바스크립트 코드는 꼭 CDATA 로 묶어줘야 함 -->
      <script th:inline="javascript">
         /*<![CDATA[*/
			function deleteBoard(idx, queryString) {
				if (confirm(idx + "번 게시글을 삭제할까요?")) {
					var uri = /*[[ @{/board/delete.do} ]]*/ null;
					var html = "";
			
					html += '<form name="dataForm" action="'+uri+'" method="post">';
					html += '<input type="hidden" name="idx" value="'+idx+'" />';
			
					/*[- 쿼리 스트링을 오브젝트 형태로 변환 -]*/
					queryString = new URLSearchParams(queryString);
					queryString.forEach(function(value, key) {
						if (isEmpty(value) == false) {
							html += '<input type="hidden" name="' + key + '" value="' + value + '" />';
						}
					});
			
					html += '</form>';
			
					$("body").append(html);
					document.dataForm.submit();
				}
			}
			
			// JQuery Ready(onload) 함수: 상세 페이지의 로딩과 동시에 특정 게시글에 등록된 댓글 출력 함수 실행
			$(function() {
				printCommentList();
			});
			
			function printCommentList() {
				
				// CommentController의 getCommentList 메서드의 매핑 URI를 해당 변수에 지정
				var uri = /*[[ @{/comments/} + ${board.idx} ]]*/ null;
				
				$.get(uri, function(response) {
					if (isEmpty(response) == false) {
						var commentsHtml = "";
						
						$(response).each(function(idx, comment) {
							commentsHtml += `
								<li>
									<span class="name">${comment.writer}</span>
									<span class="desc">${comment.content}</span>
									<button type="button" onclick="openModal(${comment.idx}, '${comment.writer}', '${comment.content}')" class="btn btn-xs btn-circle"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
								</li>
							`;
						});
						
						$(".notice-list").html(commentsHtml);
					}
				}, "json");
			}
			
			function insertComment(boardIdx) {
				// 댓글 입력창
				var content = document.getElementById("content");
				
				if(isEmpty(content.value) == true) {
					content.setAttribute("placeholder","댓글을 입력해 주세요");
					content.focus();
					return false;
				}
				var uri = /*[[ @{/comments} ]]*/ null;
				var headers = {"Content-Type": "application/json","X-HTTP-Method-Override": "POST"};
				var params = {"boardIdx":boardIdx, "content":content.value, "writer":writer.value};
				$.ajax({
					url: uri,
					type: "POST",
					headers: headers,
					dataType: "json",
					data: JSON.stringify(params),
					success: function(response) {
						if(response.result == false) {
							alert("댓글 등록에 실패하였습니다.");
							return false;
						}
						
						printCommentList();
						content.value="";
					},
					error: function(xhr, status, error) {
						alert("에러가 발생하였습니다.");
						return false;
					}
				});
			}
			
			function openModal(idx, writer, content) {
				// 모달 오픈
				$("#commentModal").modal("toggle");
				
				document.getElementById("modalWriter").value = writer;
				document.getElementById("modalContent").value = content;
				
				document.getElementById("btnCommentUpdate").setAttribute("onclick","updateComment("+ idx +")");
				document.getElementById("btnCommentDelete").setAttribute("onclick","deleteComment("+ idx +")");				
			}
			
			function updateComment(idx) {
				var writer = document.getElementById("modalWriter");
				var content = document.getElementById("modalContent");
				
				var uri = /*[[ @{/comments/} ]]*/ + idx;
				var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "PATCH"};
				var params = {"idx":idx, "writer": writer.value, "content": content.value};
				$.ajax({
					url: uri,
					type: "PATCH",
					headers: headers,
					dataType: "json",
					data: JSON.stringify(params),
					success: function(response) {
						if(response.result == false) {
							alert("댓글 수정에 실패하였습니다.");
							return false;
						}
						
						printCommentList();
						$("#commentModal").modal("hide");
					},
					error: function(xhr, status, error) {
						alert("에러가 발생하였습니다.");
						return false;
					}
				});
			}
			
			function deleteComment(idx) {

	            if (!confirm('댓글을 삭제하시겠어요?')) {
	               return false;
	            }
	            
	            // DeleteMapping 시 주석 처리하면 오류 발생
	            var uri = [[ @{/comments/} ]] + idx;
	            var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "DELETE"};
	         
	            $.ajax({
	               url: uri,
	               type: "DELETE",
	               headers: headers,
	               dataType: "json",
	               success: function(response) {
	                  if (response.result == false) {
	                     alert("댓글 삭제에 실패하였습니다.");
	                     return false;
	                  }
	         
	                  printCommentList();
	                  $("#commentModal").modal("hide");
	               },
	               error: function(xhr, status, error) {
	                  alert("에러가 발생하였습니다.");
	                  return false;
	               }
	            });
	         }
			
			/*]]>*/
      </script>
   </th:block>
</html>