<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- 게시글 페이징  -->
	<!-- movePage(기본 URI, 페이징 정보, 구분) -->
	<!-- th:if => 전체 데이터 개수가 1개 이상이면 페이지 번호 출력 -->
	<!-- th:with => info라는 paginationInfo 저장 -->
	<nav th:fragment="paginationBoard" th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
		<ul class="pagination">
			
			<!-- 이전 페이지가 존재하면 게시글 리스트에서 1페이지로 이동 -->
			<li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1)} ]], [[${params.gubun}]])">
				<a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			</li>
			
			<!-- 이전 페이지가 존재하면 게시글 리스트에서 첫 페이지 번호 -1 페이지로 이동 -->
			<li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]], [[${params.gubun}]])">
				<a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
			</li>
			
			<!-- from(첫 페이지 번호) 에서 to(마지막 페이지 번호) 까지 정수의 시퀀스를 생성 -->
			<!-- pageSize만큰 반복해서 페이지 번호 화면에 출력 -->
			<li th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'">
				<a href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]],[[${params.gubun}]])"></a>
			</li>
			
			<!-- 마지막 페이지 번호 + 1페이지로 이동 -->
			<li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]], [[${params.gubun}]])">
				<a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
			</li>
			
			<!-- 전체 페이지 개수는 전체 데이터 개수를 통해 계산 -->
			<!-- ${params.makeQueryString(pageNo)}는 현재 페이지 번호 , 페이지당 출력할 데이터의 개수 , 하단에 출력할 페이지
				의 개수 정보를 쿼리 스트링 형태로 반환 -->
			<li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]], [[${params.gubun}]])">
				<a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
			</li>
		</ul>
	</nav>
	
	<!-- 브랜드 리스트 페이징 -->
	<!-- movePage(기본 URI, 페이징 정보, 업종) -->
	<!-- th:with => info라는 paginationInfo 저장 -->
	<nav th:fragment="paginationBrand" th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
		<ul class="pagination">
			
			<!-- 이전 페이지가 존재하면 게시글 리스트에서 1페이지로 이동 -->
			<li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1)} ]], [[${params.upjong}]])">
				<a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			</li>
			
			<!-- 이전 페이지가 존재하면 게시글 리스트에서 첫 페이지 번호 -1 페이지로 이동 -->
			<li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]], [[${params.upjong}]])">
				<a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
			</li>
			
			<!-- from(첫 페이지 번호) 에서 to(마지막 페이지 번호) 까지 정수의 시퀀스를 생성 -->
			<!-- pageSize만큰 반복해서 페이지 번호 화면에 출력 -->
			<li th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'">
				<a href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]], [[${params.upjong}]])"></a>
			</li>
			
			<!-- 마지막 페이지 번호 + 1페이지로 이동 -->
			<li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]], [[${params.upjong}]])">
				<a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
			</li>
			
			<!-- 전체 페이지 개수는 전체 데이터 개수를 통해 계산 -->
			<!-- ${params.makeQueryString(pageNo)}는 현재 페이지 번호 , 페이지당 출력할 데이터의 개수 , 하단에 출력할 페이지
				의 개수 정보를 쿼리 스트링 형태로 반환 -->
			<li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]], [[${params.upjong}]])">
				<a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
			</li>
		</ul>
	</nav>
	
	<!-- 게시글 찾기 -->
	<div th:fragment="searchBoard" id="adv-search" class="input-group">
		<input type="text" id="mainSearchKeyword" class="form-control" th:value="${params.searchKeyword}" placeholder="키워드를 입력해 주세요."/>
		<div class="input-group-btn">
			<div class="btn-group" role="group">
				<div class="dropdown dropdown-lg">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
					<div class="dropdown-menu dropdown-menu-right" role="menu">
						<!-- 검색 form -->
						<form id="searchForm" th:action="@{/board/list.do}" method="get" th:onsubmit="return searchBoard(this)" class="form-horizontal" role="form">
							<!-- 현재 페이지 번호, 페이지당 출력할 데이터 개수, 페이지 하단에 출력할 페이지 개수 Hidden 파라미터 -->
							<input type="hidden" name="currentPageNo" value="1"/>
							<input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}"/>
							<input type="hidden" name="pageSize" th:value="${params.pageSize}"/>
							
							<div class="form-group">
								<label for="filter">검색 유형</label>
								<select name="searchType" class="form-control">
									<option value="" th:selected="${#strings.isEmpty( params.searchType )}">전체</option>
									<option value="title" th:selected="${#strings.equals( params.searchType, 'title' )}">제목</option>
									<option value="content" th:selected="${#strings.equals( params.searchType, 'content' )}">내용</option>
									<option value="writer" th:selected="${#strings.equals( params.searchType, 'writer' )}">작성자</option>
								</select>
							</div>
							<div class="form-group">
								<label for="contain">키워드</label>
								<input type="text" name="searchKeyword" class="form-control" th:value="${params.searchKeyword}" />
							</div>
							<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</form>
					</div>
				</div> 
				<button type="button" class="btn btn-primary" onclick="searchBoard(null)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
	
	<!-- 브랜드 찾기 -->
	<div th:fragment="searchBrand" id="adv-search" class="input-group">
		<input type="text" id="mainSearchKeyword" class="form-control" th:value="${params.searchKeyword}" placehold="키워드를 입력해 주세요."/>
		<div class="input-group-btn">
			<div class="btn-group" role="group">
				<div class="dropdown dropdown-lg">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
					<div class="dropdown-menu dropdown-menu-right" role="menu">
						<!-- 검색 form -->
						<form id="searchForm2" th:action="@{/franchise/infoList.do}" method="get" th:onsubmit="return searchInfo(this)" class="form-horizontal" role="form">
							<!-- 현재 페이지 번호, 페이지당 출력할 데이터 개수, 페이지 하단에 출력할 페이지 개수 Hidden 파라미터 -->
							<input type="hidden" name="currentPageNo" value="1"/>
							<input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}"/>
							<input type="hidden" name="pageSize" th:value="${params.pageSize}"/>
							
							<div class="form-group">
								<label for="filter">검색 유형</label>
								<select name="searchType" class="form-control">
									<option value="" th:selected="${#strings.isEmpty( params.searchType )}">전체</option>
									<option value="brandName" th:selected="${#strings.equals( params.searchType, 'brandName' )}">브랜드명</option>
									<option value="businessName" th:selected="${#strings.equals( params.searchType, 'businessName' )}">상호명</option>
								</select>
							</div>
							<div class="form-group">
								<label for="contain">키워드</label>
								<input type="text" name="searchKeyword" class="form-control" th:value="${params.searchKeyword}"/>
							</div>
							<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</form>
					</div>
				</div> 
				<button type="button" class="btn btn-primary" onclick="searchInfo(null)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>

</html>
